In [1]:
%load_ext autoreload
%autoreload 2

In [16]:
os.environ

environ{'COMMAND_MODE': 'unix2003',
        'HADOOP_HOME': '/opt/hadoop',
        'HOME': '/Users/vijaykrishnareddy',
        'HOMEBREW_CELLAR': '/opt/homebrew/Cellar',
        'HOMEBREW_PREFIX': '/opt/homebrew',
        'HOMEBREW_REPOSITORY': '/opt/homebrew',
        'INFOPATH': '/opt/homebrew/share/info:',
        'JAVA_HOME': '/opt/homebrew/opt/openjdk@17',
        'LD_LIBRARY_PATH': '/opt/hadoop/lib/native:',
        'LOGNAME': 'vijaykrishnareddy',
        'MallocNanoZone': '0',
        'OLDPWD': '/',
        'ORIGINAL_XDG_CURRENT_DESKTOP': 'undefined',
        'PATH': '/Users/vijaykrishnareddy/.pyenv/versions/3.9.7/bin:/opt/homebrew/Cellar/pyenv-virtualenv/1.2.4/shims:/Users/vijaykrishnareddy/.pyenv/shims:/Users/vijaykrishnareddy/.pyenv/bin:/Users/vijaykrishnareddy/.pyenv/bin:/opt/hadoop/bin:/opt/homebrew/opt/openjdk@17/bin:/Library/Frameworks/Python.framework/Versions/3.11/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/Library/Frameworks/Python.framework/Versions/3.13/bin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin:/Library/TeX/texbin',
        'PWD': '/',
        'PYENV_ROOT': '/Users/vijaykrishnareddy/.pyenv',
        'PYENV_VIRTUALENV_INIT': '1',
        'SHELL': '/bin/zsh',
        'SHLVL': '0',
        'SSH_AUTH_SOCK': '/private/tmp/com.apple.launchd.e4tB0nnpdg/Listeners',
        'TMPDIR': '/var/folders/4r/9p9bf36x5_g59t83x9s0pjrw0000gn/T/',
        'USER': 'vijaykrishnareddy',
        'VSCODE_CODE_CACHE_PATH': '/Users/vijaykrishnareddy/Library/Application Support/Code/CachedData/e54c774e0add60467559eb0d1e229c6452cf8447',
        'VSCODE_CRASH_REPORTER_PROCESS_TYPE': 'extensionHost',
        'VSCODE_CWD': '/',
        'VSCODE_ESM_ENTRYPOINT': 'vs/workbench/api/node/extensionHostProcess',
        'VSCODE_HANDLES_UNCAUGHT_ERRORS': 'true',
        'VSCODE_IPC_HOOK': '/Users/vijaykrishnareddy/Library/Application Support/Code/1.97-main.sock',
        'VSCODE_NLS_CONFIG': '{"userLocale":"en-us","osLocale":"en-us","resolvedLanguage":"en","defaultMessagesFile":"/Applications/Visual Studio Code.app/Contents/Resources/app/out/nls.messages.json","locale":"en-us","availableLanguages":{}}',
        'VSCODE_PID': '28387',
        'XPC_FLAGS': '0x0',
        'XPC_SERVICE_NAME': 'application.com.microsoft.VSCode.4248754.4248760',
        '_': '/Applications/Visual Studio Code.app/Contents/MacOS/Electron',
        '__CFBundleIdentifier': 'com.microsoft.VSCode',
        '__CF_USER_TEXT_ENCODING': '0x1F5:0x0:0x0',
        'ELECTRON_RUN_AS_NODE': '1',
        'PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING': '1',
        'PYTHONUNBUFFERED': '1',
        'PYTHONIOENCODING': 'utf-8',
        'PYTHON_FROZEN_MODULES': 'on',
        'LC_CTYPE': 'UTF-8',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline',
        'MLFLOW_TRACKING_URI': 'https://dagshub.com/vijaykrishnareddy99/Nyc_taxi_project.mlflow',
        'MLFLOW_TRACKING_USERNAME': 'vijaykrishnareddy99',
        'MLFLOW_TRACKING_PASSWORD': '873fdf4056225dc3080c8bd9e200268cc1b3984b',
        'HOPSWORKS_API_KEY': 'ivwffa2fnCxiEkyq.0oEtZzMSrVFMPuEbwdnxE5RDdSYEeMWuTOAtoGPrIwgoftnGqwxULbB113UBXeVq',
        'HOPSWORKS_PROJECT_NAME': 'Nyc_taxi_project_CDA500',
        'POLARS_SKIP_CPU_CHECK': '1'}

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
import src.config as config

In [4]:
import pandas as pd
from src.inference import fetch_next_hour_predictions, load_batch_of_features_from_store
from src.plot_utils import plot_aggregated_time_series

current_date = pd.Timestamp.now(tz="Etc/UTC")

features = load_batch_of_features_from_store(current_date)

2025-03-05 16:10:44,094 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-05 16:10:44,097 INFO: Initializing external client
2025-03-05 16:10:44,097 INFO: Base URL: https://c.app.hopsworks.ai:443

2025-03-05 16:10:44,582 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214671
Fetching data from 2025-02-04 21:10:44.094624+00:00 to 2025-03-05 20:10:44.094624+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (4.89s)

In [5]:
features

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_location_id,pickup_hour
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2025-03-04 22:00:00
1,0,0,0,0,0,0,0,1,0,0,...,1,0,1,0,0,1,0,0,3,2025-03-04 22:00:00
2,1,0,2,0,3,0,0,0,0,4,...,3,6,2,1,5,3,3,5,4,2025-03-04 22:00:00
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,2025-03-04 22:00:00
4,1,2,1,1,0,0,0,1,2,6,...,4,5,0,3,1,2,0,2,7,2025-03-04 22:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,0,0,0,0,0,0,0,0,2,1,...,0,0,0,0,0,0,0,0,259,2025-03-04 22:00:00
248,0,0,1,0,0,0,0,0,0,1,...,0,1,0,2,1,1,0,1,260,2025-03-04 22:00:00
249,18,9,6,4,0,1,0,1,7,8,...,36,26,28,58,46,34,25,23,261,2025-03-04 22:00:00
250,18,6,2,1,0,5,6,13,66,151,...,104,140,111,101,87,48,30,25,262,2025-03-04 22:00:00
251,76,43,21,9,7,4,4,17,48,136,...,146,126,113,117,132,99,86,76,263,2025-03-04 22:00:00

In [6]:
predictions = fetch_next_hour_predictions()

2025-03-05 16:10:57,352 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-05 16:10:57,356 INFO: Initializing external client
2025-03-05 16:10:57,356 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-05 16:10:57,888 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214671
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.36s)
Current UTC time: 2025-03-05 21:10:57.352903+00:00
Next hour: 2025-03-05 22:00:00+00:00
Found 0 records

In [7]:
predictions

Empty DataFrame
Columns: [pickup_location_id, predicted_demand, pickup_hour]
Index: []

In [8]:
top10 = (
    predictions.sort_values("predicted_demand", ascending=False).head(10)["pickup_location_id"].to_list()
)

In [11]:
top10

[]

In [12]:
top10

[]

In [13]:
features["pickup_location_id"] == 22

0      False
1      False
2      False
3      False
4      False
       ...
247    False
248    False
249    False
250    False
251    False
Name: pickup_location_id, Length: 252, dtype: bool

In [14]:
features_cp = features.copy()

In [17]:
from datetime import timedelta

# Get your data
features = features_cp[features_cp["pickup_location_id"] == 161]
prediction = predictions[predictions["pickup_location_id"] == 161]

time_series_columns = [
    col for col in features.columns if col.startswith("rides_t-")
]

# Get time series values
time_series_values = [features[col].iloc[0] for col in time_series_columns]

# Handle empty prediction case
if len(prediction["predicted_demand"]) == 0:
    prediction_values = []
else:
    prediction_values = prediction["predicted_demand"].tolist()

# Combine values
combined_values = time_series_values + prediction_values

# Convert pickup_hour Series to single timestamp
pickup_hour = pd.Timestamp(features["pickup_hour"].iloc[0])

# Create date range with exact number of periods
time_series_dates = pd.date_range(
    end=pickup_hour,
    periods=len(combined_values),  # Use exact number of periods
    freq="h",
)

# Verify lengths match
print(f"Length of time_series_dates: {len(time_series_dates)}")
print(f"Length of combined values: {len(combined_values)}")

# Create DataFrame
historical_df = pd.DataFrame(
    {"datetime": time_series_dates, "rides": combined_values}
)
# from datetime import timedelta
# features = features_cp[features_cp["pickup_location_id"] == 161]
# prediction = predictions[predictions["pickup_location_id"] == 161]
# time_series_columns = [
#     col for col in features.columns if col.startswith("rides_t-")
# ]
# time_series_values = [features[col].iloc[0] for col in time_series_columns] + prediction["predicted_demand"].to_list()

# # Convert pickup_hour Series to single timestamp
# pickup_hour = pd.Timestamp(features["pickup_hour"].iloc[0])

# # Generate corresponding timestamps for the time series
# time_series_dates = pd.date_range(
#     start=pickup_hour - timedelta(hours=len(time_series_columns)),
#     end=pickup_hour,
#     freq="h",
# )

# # Create a DataFrame for the historical data
# historical_df = pd.DataFrame(
#     {"datetime": time_series_dates, "rides": time_series_values}
# )

Length of time_series_dates: 672
Length of combined values: 672

In [18]:
from datetime import timedelta

# Check lengths of data
features = features_cp[features_cp["pickup_location_id"] == 161]
prediction = predictions[predictions["pickup_location_id"] == 161]

time_series_columns = [
    col for col in features.columns if col.startswith("rides_t-")
]

# Print lengths to debug
print(f"Number of time series columns: {len(time_series_columns)}")
print(f"Number of prediction values: {len(prediction['predicted_demand'])}")
print(f"Total expected length: {len(time_series_columns) + len(prediction['predicted_demand'])}")

# Fix: Make sure time_series_values length matches time_series_dates length
time_series_values = [features[col].iloc[0] for col in time_series_columns]
prediction_values = prediction["predicted_demand"].to_list()

# Convert pickup_hour Series to single timestamp
pickup_hour = pd.Timestamp(features["pickup_hour"].iloc[0])

# Generate corresponding timestamps for the time series
time_series_dates = pd.date_range(
    start=pickup_hour - timedelta(hours=len(time_series_columns)),
    end=pickup_hour,
    freq="h",
)

# Print lengths again to confirm
print(f"Length of time_series_dates: {len(time_series_dates)}")
print(f"Length of time_series_values + prediction: {len(time_series_values) + len(prediction_values)}")

# Make sure the lengths match before creating DataFrame
if len(time_series_dates) == len(time_series_values) + len(prediction_values):
    combined_values = time_series_values + prediction_values
else:
    # Adjust time_series_dates to match the combined length
    time_series_dates = pd.date_range(
        end=pickup_hour,
        periods=len(time_series_values) + len(prediction_values),
        freq="h",
    )
    combined_values = time_series_values + prediction_values

# Create a DataFrame for the historical data
historical_df = pd.DataFrame(
    {"datetime": time_series_dates, "rides": combined_values}
)

Number of time series columns: 672
Number of prediction values: 0
Total expected length: 672
Length of time_series_dates: 673
Length of time_series_values + prediction: 672

In [19]:
historical_df

               datetime  rides
0   2025-02-04 23:00:00    333
1   2025-02-05 00:00:00    121
2   2025-02-05 01:00:00     64
3   2025-02-05 02:00:00     14
4   2025-02-05 03:00:00      5
..                  ...    ...
667 2025-03-04 18:00:00    578
668 2025-03-04 19:00:00    657
669 2025-03-04 20:00:00    521
670 2025-03-04 21:00:00    550
671 2025-03-04 22:00:00    526

[672 rows x 2 columns]